@media (max-width:750px) {

    .header-top {
        width: 100%;
        &-left {
            padding: 0 10px;
            gap: 10px;
        }
        .cart-venta {
            padding: 0 10px;
            height: 40px;
        }
    }

    .header-bottom {
        .frm-busqueda {
            width: 50%;
            .busqueda {
                input {
                    font-size: 15px;
                }
            }
            input[type="submit"] {
                width: 30%;
                padding: 2px 10px;
            }
        }
    }


    //====================================================
    .productos-items-carrito {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 45px 20px;
        width: 100%;
        justify-content: center;
    
        .item {
            display: flex;
            flex-direction: row;
            width: 100%;

        }
    
    }
    
    //===================================
    .cuentaTotal {
        width: 90%;
        padding: 5px 15px;
        margin: 20px auto;
    
      
    
        &-pagar {
            width: 100%;
            border: 0;
            padding: 15px 20px;
            border-radius: 5px;
            background-color: rgb(94, 133, 36);
            font-weight: bold;
            font-size: 14px;
            color: whitesmoke;
            cursor: pointer;
            transition: 0.5s all;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    
    //PARA EL BANNER Y INFORMACION NO HACEMOS NADA EN TABLET

    /* FOOTER */


    .footer__info {
        width: 100%;

        h4 {
            display: flex;
            justify-content: center;
        }

        p {
            text-align: justify;
        }
    }

    /* ============== */
    .footer__redes {
        width: 100%;
        margin-top: 10px;

        h4 {
            text-align: center;
        }
    }

    /* ==================== */
    .footer__myInfo {
        width: 100%;
        margin-top: 10px;
        /*     padding-left: 20px; */
        /* overflow: hidden; */

        & h4 {
            margin: 20px 0;
            text-align: center;
        }
    }

    .footer__container2 {
        width: 100%;
        max-width: none;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
    }

}