*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;

}

.dark {
    background-color: black;
    color: whitesmoke;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 20;
}

.header-top {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 15px;

    &-left {
        display: flex;
        align-items: center;
        gap: 20px;

        .img-logo {
            width: 80px;
            height: 80px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
        }

        .navbar {

            /*  &.active{
                display: block;
            } */
            .button-close {
                display: none;
                background-color: transparent;
                width: 40px;
                border: none;
                cursor: pointer;

                i {
                    font-size: 20px;
                    color: whitesmoke;
                }
            }

            ul {
                display: flex;
                list-style: none;
                padding: 0;

                li {
                    a {
                        /* font-size: 15px; */
                        display: block;
                        font-size: 0.9rem;
                        text-decoration: none;
                        padding: 10px 15px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: black;
                    }

                    /*  &.actual{
                        border-bottom: 2px solid #433B58;
                    } */
                }
            }
        }
    }

    .cart-venta {
        display: flex;
        align-items: center;
        gap: 20px;

        .cart {
            position: relative;
            width: 30px;

            .cart-icon {
                font-size: 25px;
            }

            .cart-number {
                position: absolute;
                top: -10px;
                right: -5px;
                background-color: whitesmoke;
                font-weight: bold;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                text-align: center;
            }
        }

        .cart-info {
            &__price {
                font-weight: bold;
            }
        }
    }
}

.header-bottom {
    width: 100%;
    height: 70px;
    background-color: #433B58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;


    .button-open {
        display: none;
        place-content: center;
        background-color: transparent;
        width: 40px;
        border: none;
        cursor: pointer;

        i {
            font-size: 20px;
            color: whitesmoke;
        }
    }

    .frm-busqueda {
        width: 35%;
        display: flex;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;

        .busqueda {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            gap: 10px;
            background-color: whitesmoke;
            width: 80%;

            span {
                font-size: 20px;
                color: gray;
            }

            input {
                outline: none;
                border: none;
                width: 100%;
                font-size: 16px;
                background-color: whitesmoke;
                padding: 10px;
                border-left: 1px solid gray;
            }

        }

        input[type="submit"] {
            border: none;
            color: whitesmoke;
            background-color: #FC6C69;
            width: 20%;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

//ESTAMOS DENTRO DEL BANNER
.banner {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #efd5ff25 0%, #282c666e 100%), url(../img/banner.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 50px;
        color: whitesmoke;
        border-bottom: 2px solid whitesmoke;
        text-align: center;
    }
}

//ESTAMOS DENTRO DE LA INFORMACIOON Y BANNER

.main-info {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;

    article {
        width: 40%;

        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }
}

.actual {
    border-bottom: 2px solid #433B58;
}

.active {
    display: block
}

@mixin styleCards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    width: 100%;
    justify-content: center;

    .item {
        width: 240px;
        height: 340px;
        background-color: #26425a;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.322);
        color: #e1cbd7;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            display: block;
            width: 100%;
            min-height: 150px;
            max-height: 150px;
            transition: 0.5s all;
            object-fit: cover;

            &:hover {
                padding: 10px;
                object-fit: contain;
                width: 100%;
                border-radius: 20px;
            }
        }

        &-info {
            padding: 10px 8px;

            h4 {
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                margin: 10px 0;
            }

            p {
                text-align: justify;
                margin-bottom: 10px;
                font-size: 14px;
            }

            div {
                display: flex;
                text-align: center;
                gap: 15px;
            }

        }

        .btn-comprar {
            width: 100%;
            padding: 15px 10px;
            border: none;
            border-radius: 0 0 5px 5px;
            font-weight: bold;
            transition: 0.2s all;
            position: absolute;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }

        .btn-comprar:hover {
            background-color: rgba(141, 231, 24, 0.678);
            color: #e1cbd1;
        }

        .btn-eliminar {
            width: 100%;
            padding: 15px 10px;
            border: none;
            border-radius: 0 0 5px 5px;
            font-weight: bold;
            transition: 0.2s all;
            position: absolute;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }

        .btn-eliminar:hover {
            background-color: rgba(170, 21, 21, 0.678);
            color: #e1cbd1;
        }
    }

}

#main-productos {
    padding: 20px 40px;


    .productos-title {
        text-align: center;
        padding: 40px 0;
        padding-bottom: 20px;
    }

    .ordenarContainer {
        width: 100%;
        display: flex;
        margin: 30px 0;
        align-items: center;
        gap: 20px;
        justify-content: center
    }

    #ordenarProducto {
        outline: none;
        font-size: 15px;
        padding: 5px 0
    }

    .productos-items {
        @include styleCards;
    }
}

.misProductos-title {

    text-align: center;
    padding: 40px 0;
    padding-bottom: 10px;

}

.productos-items-carrito {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 45px 20px;
    width: 100%;
    justify-content: center;

    .item {
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 120px;
        padding: 10px 20px;
        background-color: whitesmoke;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.322);
        //  color: #e1cbd7;
        color: #26425a;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            display: block;
            width: 15%;
            transition: 0.5s all;
            object-fit: contain;

            /* &:hover {
                padding: 10px;
                object-fit: contain;
                width: 100%;
                border-radius: 20px;
            } */
        }

        &-info {

            padding: 10px 12px;
            margin-right: 15%;

            h4 {
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                margin: 10px 0;
                font-weight: bold;
            }

            p {
                text-align: center;
                margin-bottom: 10px;
                font-size: 14px;
            }

            div {
                display: flex;
                text-align: center;
                gap: 15px;
            }

        }



        .btn-eliminar {
            display: grid;
            place-content: center;
            width: 15%;
            height: 100%;
            padding: 15px 10px;
            border: none;
            border-radius: 0 5px 5px 0;
            font-weight: bold;
            transition: 0.2s all;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            font-size: 20px;
            background-color: rgb(216, 212, 212);
        }

        .btn-eliminar:hover {
            background-color: rgba(170, 21, 21, 0.678);
            color: #e1cbd1;
        }
    }

}

.cuentaTotal {
    width: 90%;
    padding: 5px 15px;
    margin: 20px auto;



    &-pagar {
        display: block;
        width: 50%;
        margin: 0 auto;
        border: 0;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: rgb(94, 133, 36);
        font-weight: bold;
        font-size: 14px;
        color: whitesmoke;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}




/* CONTACTOOOOOOOOOOOOOOOOOOOOOOOOOO */

.hero-contacto {
    min-height: 0;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.274);
}

/* MAIN- CONTACTO*/
.main__contacto {
    min-height: 100vh;
    /* sirve para la pantalla principal del Contacto */
    background-color: whitesmoke;
    /*   background-image: url(../images/formularioFondo.jpg); */
    display: flex;
    align-items: center;
}

/* .main__contacto__main {
   
} */

.main__form {
    width: 90%;
    /* IMPORTANTE */
    background-color: #433B58;
    margin: 0 auto;
    /* margin-top: 50px; */
    /* ANTES ERA 150 */
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    /* overflow: hidden; */

    .title__form {
        /* width: 30%; */
        max-height: 400px;
        margin: auto 0;
        font-family: Arial, Helvetica, sans-serif;

        .title-form {
            /* para desaparecer el colapso de margen 
            dimos un padding al contenedor mayor */
            display: flex;
            justify-content: center;
            margin: 10px 0;
            color: white;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 60px;

        }

        & span {
            display: block;

            text-align: center;
            color: #ffff;
        }
    }

    .questions {
        /* width: 40%; */
        /* era 60 */
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        padding-top: 30px;

        .question__item {
            display: flex;
            margin: 10px;
            align-items: center;
            justify-content: star;
            gap: 20px;

           

            .input {
                padding: 2px 10px;
                font-size: 15px;
                background-color: #fd5949;
                outline: none;
                border: none;
                border-bottom: 2px solid white;
                color: white;
                background-color: transparent;
                width: 100%;
                &::placeholder{
                   
                    color: rgba(245, 245, 245, 0.274);
                }
            }

            & textarea {
                margin: 0 auto;
                outline: none;
                padding: 10px;
            }

            &-text {
                margin-top: 40px;

            }

            .input-text {
                resize: none;
                width: 300px;
                border-radius: 5px;
            }
        }


        .question__button {
            display: block;
            cursor: pointer;
            width: 60%;
            color: #fd5949;
            font-weight: bold;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            margin: 0 auto;
            margin-bottom: 10px;
            margin-top: 30px
        }
    }

    /* mapa */
    .mapa {
        /* width: 30%; */
        /* era 40 */
        /* overflow: hidden; */
        display: flex;
        align-items: center;

        & iframe {
            width: 100%;
            height: 300px;
            border-radius: 10px;
        }
    }
}


/*    FOOTER            */
.footer {
    background-color: black;
    color: white;
    /* Funciona con el padding-bottom y min-height:100vh */
    position: relative;
    bottom: 0;
    left: 0;

    .footer__container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* width: 100%;=================================*/
        max-width: none;


    }

}

.footer__info {
    /* trae problemas si lo pongo dentro del contenedor
    anterior */
    display: flex;
    flex-direction: column;
    width: 30%;

    & h4 {
        margin: 30px 0;
        text-align: center;
    }

    & p {
        text-align: justify;
    }
}


.footer__redes {
    width: 25%;

    h4 {
        margin: 30px 0;
    }

    .red {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;

            .red__img {
                width: 30px;
            }


        }

        .red__type {
            margin-left: 10px;
        }



    }
}



.footer__myInfo {
    width: 25%;

    & h4 {
        margin: 30px 0;
    }

    .footer__ubicacion,
    .footer__number,
    .footer__email {
        display: flex;
        flex-direction: row;
        margin: 10px 0;

        & span {
            margin-left: 10px;
            width: 100%;
        }
    }
}

.footer__container2 {
    width: 100%;
    max-width: none;
    text-align: center;
    /* padding-top: 10px; */
    /*  padding-bottom: 10px; */

}

@import "./responsiveTablet";
@import "./responsiveMobile";